
.timerCard {
    padding: 10px;
}

.description {
    font: 2.2em "Helvetica", sans-serif;
    padding-bottom: 5px;
    padding-top: 5px;
}

.timer {
    font: 1.8em "Courier New", monospace;
}

.newTimerForm {
    padding: 10px;
}