.app-wrapper {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-gap: 1vh;
  grid-template-areas:
    "header header"
    "navbar content";
  grid-template-rows: 8vh 90vh;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: content;
  background-color: #E9EBF8;
  box-shadow: -1px -1px 5px #8D818C;
}

html, body {
  height: 100%;
  background-color: #fefffe;
}